header {
  border-bottom: solid 5px #777bce;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
header .navbar {
  display: flex;
  padding: 1rem 0;
  align-items: center;
}
header .navbar .logo {
  color: #16a085;
  font-weight: bold;
  margin-right: 20px;
  font-size: 1.3rem;
}
header .navbar .logo + label {
  display: none;
}
header .navbar .logo + label + input {
  display: none;
}
header .navbar .collapse {
  display: flex;
  flex-grow: 1;
}
header .navbar .collapse .links {
  display: flex;
  margin-right: auto;
}
header .navbar .collapse .links li {
  margin: 0 10px;
}
header .navbar .collapse .links li a {
  color: #777;
}
header .navbar .collapse .form a {
  border: solid 1px #0b2d64;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  color: #0b2d64;
}
header .navbar .collapse .form a:hover {
  color: #fff;
  font-weight: 600;
}
header .navbar .collapse .form a.form-bg {
  background-color: #0b2d64;
  color: #fff;
}
@media only screen and (max-width: 960px) {
  header .navbar {
    flex-flow: row wrap;
    padding: 10px 15px;
  }
  header .navbar .logo {
    margin-right: auto;
  }
  header .navbar .logo + label {
    display: block;
    border: 1px solid #ddd;
    padding: 0.5rem 1rem;
    color: #555;
    cursor: pointer;
  }
  header .navbar .logo + label + input:checked + .collapse {
    display: block;
  }
  header .navbar .collapse {
    display: none;
    flex-flow: column;
    width: 100%;
  }
  header .navbar .collapse .links {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  header .navbar .collapse .links li {
    margin: 0.5rem 0;
  }
}
